@media(min-width: 411px) and (max-width: 428px) {
  .wrapper{
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  img{
    //width: -webkit-fill-available;
  }
  .v-carousel {
    display: flex;
    transition: all ease .5s;
    height: 355px;
    max-width: 428px;

  }
  .v-carousel-item {
    width: 100%;
    max-width: 428px;

  }
  .start-content {
    font-size: 20px;
    font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #4BCB38;
    margin-top: 130px;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto

  }
  .btn-block {
    margin-top: 10px;
  }
  .div-nextSlide{
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .div-skipSlide{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .btn-nextSlide {
    background: linear-gradient(94.59deg, #84DF51 2.89%, #46CA36 45.9%, #A6EB61 89.81%);
    border-radius: 30px;
    width: 270px;
    border: none;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 19px;
  }
  .btn-skip {
    color:  #42C834;
    font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    background: white;
    border: none;
    text-decoration: none;

  }
  .btn-language{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  .language {
    border: none;
    font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #42C834;
    font-size: 15px;
    background: white;

  }
}
