@media(min-width: 320px) and (max-width: 360px) {
.contentOrderConfirm {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &_firstPic{
    display: flex;
    justify-content: center;
    img {

      width: 40%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &_firstTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    color: #3D3D3D;
    margin-top: -5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

  }
  &_secondTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #3D3D3D;
    margin-top: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  &_btn {
    margin-top: 30px;
  }
  }
ul{
  text-align: start;
  width: 80%;
  li{
    display: flex;
    justify-content: flex-start;

  }
}
}

