@media(min-width: 320px) and (max-width: 375px) {
.wrapper{
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
img{
  width: -webkit-fill-available;
}
.v-carousel {
  display: flex;
  transition: all ease .5s;
  height: 355px;
  width: 100%;

}
  .v-carousel-item {
    width: 100%;
  }
.start-content {
  font-size: 15px;
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #4BCB38;

}
.btn-block {
  margin-top: 10px;
}
.div-nextSlide{
  display: flex;
  justify-content: center;
}
.div-skipSlide{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.btn-nextSlide {
  background: linear-gradient(94.59deg, #84DF51 2.89%, #46CA36 45.9%, #A6EB61 89.81%);
  border-radius: 30px;
  width: 270px;
  border: none;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 15px;
}
.btn-skip {
  color:  #42C834;
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  background: white;
  border: none;
  text-decoration: none;

}
.btn-language{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.language {
  border: none;
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #42C834;
  font-size: 12px;
  background: white;

}
}

